.autocomplete {
  &__input {
    display: flex;
    align-self: flex-start;
    text-align: start;
    flex: 1;
    padding: $xs-indent $s-indent;
    height: 40px;
    background-color: $white-color;

    min-width: 260px;
    width: 100%;
  }
}