.autocomplete {
  &__selected-list {
    display: flex;
    flex-wrap: wrap;
    width: unset;
  }

  &__selected-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $selected-item-backgroundcolor;
    border-radius: 4px;
    font-size: 14px;
    color: $background-color;
    padding-left: $s-indent;
    padding-right: $xs-indent;
    margin-top: $xs-indent;
    margin-bottom: $xs-indent;
    height: 34px;
    width: auto;

    &:not(:last-child) {
      margin-right: $s-indent;
    }

    .close-icon {
      display: flex;
      background-image: url(./assets/icons/icon__close.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
      width: 30px;
      height: 30px;
      transition: background-image, .2s;
      margin-left: $s-indent;

      &:focus,
      &:hover {
        cursor: pointer;
        background-image: url(./assets/icons/icon__close-hover.svg);
      }
    }
  }
}