@import "input-autocomplete";
@import "result-list-autocomplete";
@import "selected-list-complete";

.autocomplete {
  &__container {
    margin: 0 auto;
    padding: $xs-indent;
    max-width: 600px;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $white-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: $s-indent;
  }

  &__input-wrapper {
    position: relative;
  }
}