.autocomplete {
  &__result-list {
    background-color: #fff;
    margin-bottom: $base-indent;
    border-radius: 4px;
    box-shadow: 0px 10px 70px rgb(0 0 0 / 15%);
    margin-right: auto;
    transition: background-color .3s;
    position: absolute;
    left: 8px;
    width: 80%;
    max-width: $max-width;
  }

  &__result-item {
    cursor: pointer;
    font-size: 14px;
    padding: $s-indent $base-indent;
    position: relative;

    &:hover {
      background-color: #295fda0d;
      cursor: pointer;

      &:before {
        content: "";
        background: #295fda;
        box-sizing: border-box;
        height: 100%;
        width: 6px;
        padding: 1px;
        position: absolute;
        top: 0;
        left: 0;

        opacity: 1;
        border-top-right-radius: 48px;
        border-bottom-right-radius: 48px;
      }
    }

    &.selected {
      background-color: #295fda0d;
      position: relative;
      font-weight: $font-weight__semibold;

      &:before {
        content: "";
        background: #295fda;
        box-sizing: border-box;
        height: 100%;
        width: 6px;
        padding: 1px;
        position: absolute;
        top: 0;
        left: 0;

        opacity: 1;
        border-top-right-radius: 48px;
        border-bottom-right-radius: 48px;
      }
    }
  }
}