@import 'scss/global';
@import "scss/fonts";
@import "scss/components/result-list";
@import "scss/components/selected-list";

.input__autocomplete {
  display: flex;
  align-self: flex-start;
  text-align: start;
  padding: 4px 16px;
  height: 48px;
  width: 100%;
}

h1,
.container {
  color: #060d1c;
  width: 100%;
}

.container {
  padding: 16px;
  padding-top: 0;
  margin: auto;
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;
}


// Media queries
$mobile: "(max-width: 375px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

//mobile
@media #{$mobile} {
  .container {
    justify-content: flex-start;
    margin-top: 32px;
  }
}
