@import 'variables/all-variables';
@import 'variables/mixins';

* {
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  font-family: $main-font;
  color: #0a0a1e;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

input {
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  outline: none;
  width: 100%;

  &:focus,
  &:hover {
    border-color: #0a0a1e;
  }

  &::placeholder {
    text-align: start;
  }
}

.on-loading {
  position: relative;

  &:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #000000;
    border-radius: 50%;
    box-shadow: 20px 0 #00000022, -20px 0 #000000;
    animation: d5 1s infinite linear alternate;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  &:after {
    content: '';
    background-color: $white-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes d5 {
  0% {box-shadow: 20px 0 #000000,-20px 0 #00000022;background: #000000}
  33%{box-shadow: 20px 0 #000000,-20px 0 #00000022;background: #00000022}
  66%{box-shadow: 20px 0 #00000022,-20px 0 #000000;background: #00000022}
}