@import 'variables/all-variables';
@import 'variables/mixins';

* {
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  background-color: $background-color;
  font-family: $main-font;
  color: $font-color;
}

html, body {
  height: 100%;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

input {
  border: none;
  outline: none;
  width: 100%;

  &::placeholder {
    text-align: start;
  }
}

.on-loading {
  position: relative;

  &:before {
    content: '';
    width: 12px;
    height: 12px;
    background: $background-color;
    border-radius: 50%;
    box-shadow: 20px 0 #0a2e7282, -20px 0 #1c3056;
    animation: dots 1s infinite linear alternate;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  &:after {
    content: '';
    background-color: $background-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes dots {
  0% {box-shadow: 20px 0 #1c3056,-20px 0 #0a2e7282;background: #1c3056}
  33%{box-shadow: 20px 0 #1c3056,-20px 0 #0a2e7282;background: #0a2e7282}
  66%{box-shadow: 20px 0 #0a2e7282,-20px 0 #1c3056;background: #0a2e7282}
}

// Class

button {
  height: 32px;
  width: 86px;
  background-color: #1c3056;
  border: 1px solid #1c3056;
  border-radius: 4px;
  color: #e9e9e9;
  margin-top: 16px;
}

li:not(:last-child) {
  margin-bottom: 8px;
}