// Variables
$main-font: 'Montserrat', sans-serif;

// Font weights
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__heavier: 500;
$font-weight__semibold: 600;
$font-weight__bold: 700;

// Font sizes
$font-size__base: 16px;
$font-size__xs: 8px;
$font-size__s: $font-size__base;
$font-size__m: 18px;
$font-size__l: 24px;
$font-size__xl: 30px;

// Media queries
$mobile: "(max-width: 375px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

// Indents
$xs-indent: 4px;
$s-indent: 8px;
$m-indent: 16px;
$l-indent: 24px;
$xl-indent: 32px;
$xxl-indent: 40px;

$base-indent: $m-indent;

// Colors
$white-color: #fff;
$border-color: #e9e9e9;
$background-color: #f4f4f4;
$input-backgroundcolor: #295fda;
$selected-item-backgroundcolor: #0451ca;

$font-color: #0a0e1f;

//
$max-width: 300px;